.PhotoCard {
  width: 30%;
  min-height: 2rem;
  max-height: 20rem;
  margin: 1rem;
}

.CardBody {
  align-items: end;
  display: grid;
  height: 100%;
  padding-bottom: 0px;
}

svg {
  stroke: cornsilk;
  margin-left: 5%;
  margin-right: 5%;
}

img {
  max-height: 100%
}